* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --mainColor: #e5e5e5;
    --secondColor: #14213d;
    --overlayColor: #818181;
    --hoverColor: #fca311;
}

body {
    font-family: sans-serif;
    background: var(--mainColor);
}


/* ***************************  Start of Navbar **************************** */

nav {
    background-color: var(--mainColor);
    box-shadow: 4px 20px 20px rgba(0, 0, 0, 0.2);
}

.nav-top {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    width: 100px;
    /* Adjust as needed */
    height: 100%;
    background-color: #939393;
    position: fixed;
    left: 0;
    top: 0;
}

.nav-top img {
    width: 45px;
    height: 45px;
    margin: 5px;
    color: #f5f5f5;
}

.menu-btn {
    padding: 3px;
    cursor: pointer;
    align-self: center;
    margin-right: 40px;
    transition: 0.3s border ease-in-out;
}

.bar1,
.bar2,
.bar3 {
    height: 2px;
    width: 20px;
    background-color: #f5f5f5;
    margin: 5px 0;
}

.menu-btn:hover {
    border: 2px solid #f5f5f5;
}

.linksTop {
    display: none;
}


/* ***************************  End of Navbar **************************** */

.overlay {
    position: fixed;
    min-height: 100%;
    display: none;
    z-index: 1;
    left: 0;
    top: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
}

.overlay .links {
    display: flex;
    flex-flow: column wrap;
    margin-top: 80px;
    align-items: center;
    list-style-type: none;
}

.links li a {
    display: block;
    color: var(--mainColor);
    padding: 20px;
    text-transform: uppercase;
    font-size: 24px;
    text-decoration: none;
    border-bottom: 2px solid var(--overlayColor);
    transition: 0.3s color ease-in-out;
}

.links li a:hover {
    color: var(--hoverColor);
    margin-top: 5px;
}

.closeBtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: var(--overlayColor);
    text-decoration: none;
    transition: 0.3s;
}

.closeBtn:hover {
    color: #f5f5f5;
    font-size: 70px;
}

@media screen and (min-width: 690px) {
    .nav-top {
        display: flex;
        justify-content: space-between;
        padding: 30px;
    }
    .menu-btn {
        display: none;
    }
    .linksTop {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .linksTop li {
        list-style-type: none;
    }
    .linksTop li a {
        text-decoration: none;
        padding: 23px;
        font-size: 18px;
        color: #f5f5f5;
        transition: 0.2s margin-left, color, font-size ease-in-out;
    }
    .linksTop li a:hover {
        margin-left: 5px;
        color: var(--hoverColor);
        font-size: 20px;
    }
}


/* ****************************start of calculator **************** */

.calculator-container {
    margin: 10px auto;
    background-color: #303136;
    padding: 5px;
    display: block;
    position: relative;
    width: 375px;
    height: 700px;
    border-radius: 20px;
    border: 2px solid var(--overlayColor);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.input {
    background-color: #303136;
    border-radius: 20px;
    height: 280px;
    padding: 4px 4px 0 0;
    text-align: right;
    margin: 0 2px 4px 0;
    font-size: 3rem;
    color: white;
    overflow-wrap: break-word;
    transition: all 0.2s ease-in-out;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4px;
    row-gap: 10px;
    justify-content: space-evenly;
    align-content: center;
    margin: 0 0 0 15px;
}

.btn {
    text-align: center;
    width: 70px;
    height: 70px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 15px;
    transition: border-color 0.2s ease-in-out, background-color 0.2s, box-shadow 0.2s;
}

.btn:hover {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-width: 3px;
    border-color: var(--hoverColor);
}

#operator,
#clear,
#clearLast {
    background-color: var(--secondColor);
    color: var(--mainColor);
}

#orange {
    background-color: var(--hoverColor);
    grid-column: 3/4;
    width: 186%;
}